

  .Header{
    display: flex;
    padding: 3vh;
    justify-content: space-between;
    background-color: #e6f7ff;
  }
  
  .invoice-list>h2{
    font-weight: 500;
  }
  
  .new-btn{
    background-color: #5cc524;
    color: white;
    font-weight: 700;
    font-size: small;
    border-radius: 7px;
    margin: 6px;
    padding: 6px 18px;
    border: none;
  }
  
  .new-btn:hover{
    transform: scale(1.02);
  }
  
  .new-btn:active{
    transform: translateY(2px);
  }

  .btn-icon{
    margin-right: 8px;
  }